.header {
	display: flex;
	justify-content: space-between;
}

.header-wrapper {
	width: 100%;
	backdrop-filter: blur(40px);
	background: rgba(18, 24, 41, 0.8);
}

.menu__list {
	display: flex;
	gap: 16px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 12px 16px;
	font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.02em;
	
}
a {
	
	color: #a8aebf;
}


.active{
	color: #fff;
}

.item__num {
	width: 24px;
	height: 24px;
	background-color: #7B6EF6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}